name: Fetch and Append Nasa NEO Data

on:
  schedule:
    - cron: '0 0 * * 1'  

  workflow_dispatch:

jobs:
  revenue-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run revenue append script
        env:
          CONNECTION_URL: ${{ secrets.DATABASE_URL }}
        run: python -m pusher.weekly_data_pusher